<!DOCTYPE html>
<html ng-app="cotocs">
<head ng-controller="universalHandler">
    <title ng-bind="projectTitle"></title>

    <!-- Vendor Scripts Begin -->
    <script src='./content/vendor/angular/angular.js'></script>
    <script src='./content/vendor/angular/angular-resource.js'></script>
    <script src='./content/vendor/angular/angular-ui-router.js'></script>
    <script src='./content/vendor/jquery/jquery.js'></script>
    <script src='./content/vendor/bootstrap/bootstrap.js'></script>
    <!-- Vendor Scripts End -->

    <!-- User Scripts Start -->
    <script src='./content/user/js/script.js'></script>
    <!-- User Scripts End -->

    <!-- Vendor Stylesheets Start -->
    <link rel="stylesheet" href="content/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="content/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="content/user/css/dashboard-style.css">
    <link rel="stylesheet" href="content/user/css/signin.css">
    <link rel="stylesheet" href="content/user/css/footer-style.css">
    <!-- Vendor Stylesheets End -->

    <!-- User Stylesheets Begin -->
    <!-- User Stylesheets End -->
</head>
<body ng-controller="universalHandler">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navigationBarHandler">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ng-bind="projectTitle">OCS Error - Contact Admin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="navBarEntry in navBarEntries" ng-click="selectEntry($index)" ng-class="{active: $index==selectedEntry}"><a ng-href="{{navBarEntry.href}}" ng-bind="navBarEntry.name"></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- Fixed NavBar Ends -->

<!-- BEGIN page content -->
<div ui-view></div>

<!-- END Page Content -->

<!-- FOOTER begins -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Developed by: <span id="footer-text-non-muted"><b>Department of Information Technology</b>, College of Technology, GBPUAT, Pantnagar</span></p>
    </div>
</footer>
<!-- FOOTER ends -->

</body>
</html>
