<div class="container" ng-controller="dashboardHandler">
<br />
    <button class="hvr-sweep-to-left align-right btn btn-lg btn-danger col-md-5 " ng-click="alottedStudents()">Fetch List</button>
    <br /><br /><br /><br />
    <div class="col-md-5">
        <ul>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Rank</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in listOfAlottedStudents ">
                    <td>{{x.fullname | capitalize}}</td>
                    <td>{{x.rank}}</td>
                    <td><button ng-click="alottmentLetter(x.rank)" class="btn btn-default">View Details</td>
                </tr>
                </tbody>
            </table>
            <!--<li  style="list-style-type: none;">
                <span class="col-md-7"></span><button ng-click="studentDetails(x.rank)" class="btn btn-default col-md-4" style="margin-left: 15px;">View Details</button>
            </li-->
        </ul>
    </div>
    <div class="col-md-6" style="margin-top: -50px;">
        <div class="page-header">
            <h2>Alottment Letter</h2>
        </div>
        <p class="lead">Congratulations!</p>
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    {{details[0]| capitalize}}
                </td>
            </tr>
            <tr>
                <td>
                    Father's Name:
                </td>
                <td>
                    {{details[1]| capitalize}}
                </td>
            </tr>
            <tr>
                <td>
                    Roll Number:
                </td>
                <td>
                    {{details[2]}}
                </td>
            </tr>
            <tr>
                <td>
                    All India Rank:
                </td>
                <td>
                    {{details[3]}}
                </td>
            </tr>
            <tr>
                <td>
                    State Rank:
                </td>
                <td>
                    {{details[4]}}
                </td>
            </tr>
            <tr>
                <td>
                    State:
                </td>
                <td>
                    {{details[5]}}
                </td>
            </tr>
            <tr>
                <td>
                    Category:
                </td>
                <td>
                    {{details[6]}}
                </td>
            </tr>
            <tr>
                <td>
                    Sub-Category:
                </td>
                <td>
                    {{details[7]}}
                </td>
            </tr>
            <tr>
                <td>
                    Department:
                </td>
                <td>
                    <b>{{details[8] | capitalize}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    College Name:
                </td>
                <td>
                    <b>{{details[9] | capitalize}}</b>
                </td>
            </tr>

        </table>
    <a class="hvr-box-shadow-outset hvr-ripple-out" style="margin-top: 10px"><button class="btn btn-success">Print Allotment Letter</button></a>
    </div>

</div>
