<div class="container" ng-controller="dashboardHandler">
    <br />
    <br />
    <br />
    <br />

    <a href=".#/register"><button class="btn btn-primary btn-lg col-md-4 hvr-bounce-to-bottom">Register Student</button></a>
    <!-- a href=".#/modify"><button class="btn btn-primary btn-lg">Modify Student Details</button -->
    <a href=".#/list"><button class="btn btn-primary btn-lg col-md-4 hvr-bounce-to-bottom">Counseling Platform</button></a>
    <a href=".#/alottedlist"><button class="btn btn-primary btn-lg col-md-4 hvr-bounce-to-bottom">Alotted Students</button></a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a href=".#/list_of_branches"><button class="btn btn-warning btn-lg col-md-4 hvr-bounce-to-bottom">List of Branches</button></a>


</div>
