<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-controller="dashboardSidebarHandler">
            <ul class="nav nav-sidebar">
                <li ng-repeat="item in sidebarEntries.contents" ui-sref-active="active">
                    <a ui-sref="{{item.href}}" ui-sref-opts="{reload: true}">{{item.displayText}}</a>
                </li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="branchController">
            <h1 class="page-header" style="text-align: center" ng-bind="branchName"></h1>

            <div class="row placeholders" style="margin-top: -20px">
                <div class="placeholder">
                    <h4>College of Technology, GBPUAT, Pantnagar</h4>
                </div>

            </div>

            <h5 class="sub-header" style="margin-top: -30px">Uttarakhand Quota</h5>
            <div class="table-responsive" style="margin-top: -20px;">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Main Category</th>
                        <th>General</th>
                        <th>OBC</th>
                        <th>SC</th>
                        <th>ST</th>
                        <th>TFW</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sub Category</td>
                        <td>
                            <span style="padding:0px 5px 0px 5px; ">OP</span>
                            <span style="padding:0px 5px 0px 5px; ">W</span>
                            <span style="padding:0px 5px 0px 5px; ">AF</span>
                            <span style="padding:0px 5px 0px 5px; ">PH</span>
                            <span style="padding:0px 5px 0px 5px; ">FF</span>
                        </td>
                        <td>
                            <span style="padding:0px 5px 0px 5px; ">OP</span>
                            <span style="padding:0px 5px 0px 5px; ">W</span>
                            <span style="padding:0px 5px 0px 5px; ">AF</span>
                            <span style="padding:0px 5px 0px 5px; ">PH</span>
                            <span style="padding:0px 5px 0px 5px; ">FF</span>
                        </td>
                        <td>
                            <span style="padding:0px 5px 0px 5px; ">OP</span>
                            <span style="padding:0px 5px 0px 5px; ">W</span>
                            <span style="padding:0px 5px 0px 5px; ">AF</span>
                            <span style="padding:0px 5px 0px 5px; ">PH</span>
                            <span style="padding:0px 5px 0px 5px; ">FF</span>
                        </td>
                        <td>
                            <span style="padding:0px 5px 0px 5px; ">OP</span>
                            <span style="padding:0px 5px 0px 5px; ">W</span>
                            <span style="padding:0px 5px 0px 5px; ">AF</span>
                            <span style="padding:0px 5px 0px 5px; ">PH</span>
                            <span style="padding:0px 5px 0px 5px; ">FF</span>
                        </td>
                        <td>
                            <span style="padding:0px 5px 0px 5px; ">OP</span>
                            <span style="padding:0px 5px 0px 5px; ">W</span>
                            <span style="padding:0px 5px 0px 5px; ">AF</span>
                            <span style="padding:0px 5px 0px 5px; ">PH</span>
                            <span style="padding:0px 5px 0px 5px; ">FF</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Vacant Seats</td>
                        <td>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[0].op}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[0].w}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[0].af}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[0].ph}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[0].ff}}</span>
                        </td>
                        <td>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[1].op}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[1].w}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[1].af}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[1].ph}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[1].ff}}</span>
                        </td>
                        <td>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[2].op}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[2].w}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[2].af}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[2].ph}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[2].ff}}</span>
                        </td>
                        <td>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[3].op}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[3].w}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[3].af}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[3].ph}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[3].ff}}</span>
                        </td>
                        <td>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[4].op}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[4].w}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[4].af}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[4].ph}}</span>
                            <span style="padding:0px 15px 0px 5px; ">{{branchVacancyData.uk_quota[4].ff}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="sub-header">All India Quota</h5>
            <div class="table-responsive" style="margin-top: -20px">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Main Category</th>
                        <th style="padding-left: 30px;">General</th>
                        <th style="padding-left: 40px;">SC</th>
                        <th style="padding-left: 50px;">ST</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sub Category</td>
                        <td><span class="col-md-2">OP</span><span class="col-md-2">PH</span></td>
                        <td><span class="col-md-2">OP</span><span class="col-md-2">PH</span></td>
                        <td><span class="col-md-2">OP</span><span class="col-md-2">PH</span></td>

                    </tr>
                    <tr>
                        <td>Vacant Seats</td>
                        <td>
                            <span class="col-md-2">{{branchVacancyData.ai_quota[0].op}}</span>
                            <span class="col-md-2">{{branchVacancyData.ai_quota[0].ph}}</span>
                        </td>
                        <td>
                            <span class="col-md-2">{{branchVacancyData.ai_quota[1].op}}</span>
                            <span class="col-md-2">{{branchVacancyData.ai_quota[1].ph}}</span>
                        </td>
                        <td>
                            <span class="col-md-2">{{branchVacancyData.ai_quota[2].op}}</span>
                            <span class="col-md-2">{{branchVacancyData.ai_quota[2].ph}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
