<div class="container" ng-controller="dashboardHandler">
<br />
    <button class="align-right btn btn-lg btn-danger col-md-5 " ng-click="listStudents()">Fetch List</button>
    <br /><br /><br /><br />
    <div class="col-md-4">
        <ul>
            <li ng-repeat="x in listOfStudents" style="list-style-type: none;">
                <span class="col-md-7">{{x.fullname}}</span><button ng-click="studentDetails(x.rank)" class="btn btn-default col-md-4" style="margin-left: 15px;">View Details</button>
            </li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-1">
        {{currentStudent}}
    </div>
    {{a}}
</div>
