<div class="container" ng-controller="signinHandler">
<br />

    <form name="signinform" class="form-signin">
        <h1>Register</h1>
        <br />
        <input class="col-md-12 form-control" style="padding: 5px;" type="text" name="username" id="username" placeholder="Username" ng-model="username" required/>
        <input class="col-md-12 form-control" style="padding: 5px; margin-top:8px;" type="text" name="password" id="password" placeholder="Password" ng-model="password" required/>
        <button ng-click="signin(username, password)" class="btn-danger form-control col-md-12" style="padding: 5px; margin-top:8px;   " ng-disabled="signinform.$invalid">Submit</button>
    </form>
    <span ng-bind="status"></span>
</div>
