<div class="container" ng-controller="signinHandler">
<br />

    <form class="form-signin">
        <h1>Login/Register</h1>
        <br />
        <input class="col-md-12" style="padding: 5px;" type="text" name="username" id="username" placeholder="Username"/>
        <input class="col-md-12" style="padding: 5px; margin-top:8px;" type="text" naame="password" id="password" placeholder="Password"/>
        <button class="btn-danger col-md-12" style="padding: 5px; margin-top:8px;   " >Submit</button>
    </form>
    <span ng-bind="username"></span>
</div>
